.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
        rgba(20,24,70,1) 22%,
        rgba(21,51,110,0.8) 71%,
        rgba(178,210,53,0.7) 100%
    );
        
    .login-header {
      flex: 0 0 40%;
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo-login {
        max-width: 90%;
        width: auto;
      }
    }
  
    .login-form-container {
      flex: 1;
      background-color: rgba(245,245,245,0.6);
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      width: 100%;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .login-title {
        margin-bottom: 1.75rem;
        font-size: 24px;
        font-weight: 700;
      }
  
      .btn-google {
        width: 100%;
        max-width: 320px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 0,625rem;
        box-shadow: inset 0 -3px 6px rgba(244,245,250,0.60);
        }
    }
    @media (min-width: 768px) {
      flex-direction: row;
  
      .login-form-container {
        flex: 0 0 60%;
        height: 100%;
        background-color: rgba(245,245,245,0.6);
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 4rem 2rem;
        justify-content: center;
      }
    }
}
  